*.log

# python
__pycache__/

# zmk
zmk/.west
zmk/bootloader
zmk/modules
zmk/tools
zmk/zephyr
zmk/zmk-config
zmk/build
zmk/__pycache__

# qml build dir
qmk/build
result

# copilot runtime state
modules/programs/copilot/config/session-store.db
modules/programs/copilot/config/session-store.db-shm
modules/programs/copilot/config/session-store.db-wal
modules/programs/copilot/config/permissions-config.json
modules/programs/copilot/config/settings.json
