general {
  output_format = "i3bar"
  colors = true
  color_good = "#C3E88D"
  color_degraded = "#FFCB6B"
  color_bad = "#FF5370"
  interval = 1
}

order += "cpu_usage"
order += "disk /"
order += "memory"
order += "load"
order += "tztime local"

cpu_usage {
    format = " %usage"
}

wireless wlan0 {
        format_up = "W: (%quality at %essid, %bitrate) %ip"
        format_down = "W: down"
}

ethernet eth0 {
        format_up = "E: %ip (%speed)"
        format_down = "E: down"
}

tztime local {
    format = "%V  %A %e.%B   %H:%M:%S"
}

tztime berlin {
        format = "%Y-%m-%d %H:%M:%S %Z"
        timezone = "Europe/Berlin"
}

load {
    format = " %1min"
}

cpu_temperature 0 {
        format = "T: %degrees °C"
        path = "/sys/devices/platform/coretemp.0/temp1_input"
}

disk "/" {
	format = " %avail"
	prefix_type	= custom
	low_threshold = 20
	threshold_type = percentage_avail
}
