Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Sublime-User/Package Control.cache/
Package Control.ca-certs/
**/log.txt
