<settings>
    <localRepository>/home/pjvds/.m2/repository</localRepository>
    <interactiveMode>false</interactiveMode>
    <usePluginRegistry>false</usePluginRegistry>
    <offline>false</offline>
    <servers>
        <server>
            <username>admin</username>
            <id>central</id>
        </server>
        <server>
            <username>admin</username>
            <id>snapshots</id>
        </server>
        <server>
            <!-- DD Artifactory -->
            <id>cac76f8165e4</id>
            <username>erik</username>
            <password>erik12345</password>
            <configuration>
                <email>erik@doubledutch.me</email>
            </configuration>
        </server>
        <server>
            <!-- DD Artifactory -->
            <id>DoubleDutch-Artifactory</id>
            <username>erikwiersma</username>
            <password>new$mission$erik$AMS</password>
            <configuration>
                <email>erik@doubledutch.me</email>
            </configuration>
        </server>
    </servers>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>spring-milestone</id>
                    <name>milestone-release</name>
                    <url>http://maven.springframework.org/milestone</url>
                </repository>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>spring-release</id>
                    <name>release</name>
                    <url>http://maven.springframework.org/release</url>
                </repository>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>jboss-release</id>
                    <name>release</name>
                    <url>https://repository.jboss.org/maven2/</url>
                </repository>
            </repositories>
            <id>no-artifactory</id>
        </profile>
        <profile>
            <id>dd-artifactory</id>
            <repositories>
                <repository>
                    <id>DoubleDutch-Artifactory</id>
                    <name>libs-releases</name>
                    <url>http://artifactory.doubledutch.me/artifactory/libs-release/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>dd-artifactory</activeProfile>
    </activeProfiles>
</settings>
