"*":
  "atom-beautify":
    _analyticsUserId: "5876ab13-c29a-486e-84e0-cad059056517"
  "atom-ctags":
    autoBuildTagsWhenActive: true
    buildTimeout: 30000
    cmdArgs: "--exclude=**/node_modules --exclude=**/build"
  "atom-jsfmt":
    saveAfterFormatting: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "tab-switcher"
      "file-icons"
      "tabs"
      "toggle-tabs"
      "symbols-view"
      "autocomplete"
      "atom-jsfmt"
      "linter-rust"
      "racer"
      "atom-ctags"
    ]
    themes: [
      "atom-light-ui"
      "tomorrow-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 17
    invisibles: {}
    preferredLineLength: 100
    showInvisibles: true
    softTabs: false
    tabLength: 4
  "exception-reporting":
    userId: "bd43739a-b81f-7cfa-e410-fce86b7ef342"
  "git-plus":
    splitPane: "up"
  "go-plus":
    lintOnSave: false
  jsformat:
    e4x: true
    indent_with_tabs: true
    jslint_happy: true
  linter:
    lintOnChange: false
    showHighlighting: false
  metrics:
    userId: "5afe01d925f56ca54ea8945b2cce677f8755be3a"
  "relative-numbers":
    displayTrueLineNumberOnCurrentLine: true
  "tabs-to-spaces":
    onSave: "tabify"
  "toggle-tabs":
    hiddenByDefault: true
  "tree-view":
    showOnRightSide: true
  "vim-mode":
    commandModeInputViewFontSize: 16
  welcome:
    showOnStartup: false
