'exception-reporting':
  'userId': 'bd43739a-b81f-7cfa-e410-fce86b7ef342'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '5afe01d925f56ca54ea8945b2cce677f8755be3a'
'core':
  'themes': [
    'atom-light-ui'
    'tomorrow-syntax'
  ]
  'disabledPackages': [
    'tab-switcher'
  ]
'editor':
  'fontFamily': 'Source Code Pro'
  'preferredLineLength': 100
'linter':
  'showHighlighting': false
  'lintOnChange': false
'relative-numbers':
  'displayTrueLineNumberOnCurrentLine': true
'tree-view':
  'showOnRightSide': true
'tabs': {}
'toggle-tabs':
  'hiddenByDefault': true
'atom-beautify':
  '_analyticsUserId': '5876ab13-c29a-486e-84e0-cad059056517'
